[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = CHANGEME

[dn]
CN = www.example.lan
emailAddress = info@example.lan
O = Company
L = Zurich
C = CH

[ext]
subjectAltName = IP:xxx.xxx.xxx.xxx
